<form [formGroup] = "playerForm" (ngSubmit)="">
    <label>
        Player's Name
        <input type="text" formControlName="playerName">
    </label>
    <label>
        Player's Date of Birth
        <input type="text" formControlName="playerDob">
    </label>
    <label>
        Player's Guardian's Name
        <input type="text" formControlName="playerGuard">
    </label>
    <label>
        Player's Guardian's Contact Number
        <input type="text" formControlName="playerContact">

        
    </label>






</form>
