<form [formGroup] = "playerForm" (ngSubmit)="onFormSubmit(playerForm.value)">
    <div>
        Player's Name
        <input type="text" formControlName="playerName">
    </div>
    <div>
        Player's Date of Birth
        <input type="text" formControlName="playerDOB">
    </div>
    <div>
        Player's Guardian's Name
        <input type="text" formControlName="playerGuardian">
    </div>
    <div>
        Player's Guardian's Contact Number
        <input type="text" formControlName="playerContact">
    </div>

    <button class="button" type="submit">Add</button>

</form>
